{:kotoba.app/id "cloud.itonami.isic-5812", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib6yr5vn5ixmirvqs47v4voekdyiamkqqtro3ytufhtzodw2kag4a", :kotoba.app/embed-url "ipfs://bafkreib6yr5vn5ixmirvqs47v4voekdyiamkqqtro3ytufhtzodw2kag4a", :published {:archive "https://kotobase.net/ipfs/bafkreib6yr5vn5ixmirvqs47v4voekdyiamkqqtro3ytufhtzodw2kag4a", :size 72915, :put-status 201, :get-status 200, :at "2026-08-15T13:43:23.307Z"}}
